@import '../../../utils/mixins';

.header__profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 7px;
  justify-items: end;
  width: min-content;

  @include media_980 {
    display: none;
  }
}
