@mixin fontInHeader {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

@mixin media_1190 {
  @media screen and (max-width: 1190px) {
    @content;
  }
}

// ToDo: удалить после реализации скролла в меню
@mixin media_1045 {
  @media screen and (max-width: 1045px) {
    @content;
  }
}

@mixin media_980 {
  @media screen and (max-width: 980px) {
    @content;
  }
}

// ToDo: удалить после реализации скролла в меню
@mixin media_850 {
  @media screen and (max-width: 850px) {
    @content;
  }
}

// ToDo: удалить после реализации скролла в меню
@mixin media_720 {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin media_670 {
  @media screen and (max-width: 670px) {
    @content;
  }
}
