@import '../../../../utils/constants';

.popup__button_active {
  color: $buttonActiveText;
  background-color: #0656B4;
  border-radius: 0 0 10px 10px;
}

.popup__button_active:hover {
  cursor: pointer;
  opacity: .9;
}
