@import '../../utils/constants';
@import '../../utils/mixins';

.header {
  width: 100%;
  font-family: $fontFamily;
  @include fontInHeader;
  padding: 32px 32px 0 32px;
  box-sizing: border-box;

  @include media_670 {
    padding: 18px 14px 0 14px;
  }
}
