@import '../../../utils/constants';

.popup__city-area {
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: $textPlaceholder;
}
